@font-face {
	font-family: "ArnoPro";
	src: url('http://www.macmillan.tools.vhost.zerolag.com/bookmaker/bookmakerfonts/ArnoPro-Regular.otf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "ArnoPro";
	src: url('http://www.macmillan.tools.vhost.zerolag.com/bookmaker/bookmakerfonts/ArnoPro-Bold.otf');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "ArnoPro";
	src: url('http://www.macmillan.tools.vhost.zerolag.com/bookmaker/bookmakerfonts/ArnoPro-Italic.otf');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "ArnoPro";
	src: url('http://www.macmillan.tools.vhost.zerolag.com/bookmaker/bookmakerfonts/ArnoPro-BoldItalic.otf');
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: "ArnoPro";
	src: url('http://www.macmillan.tools.vhost.zerolag.com/bookmaker/bookmakerfonts/ArnoPro-Smbd.otf');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "ArnoPro";
	src: url('http://www.macmillan.tools.vhost.zerolag.com/bookmaker/bookmakerfonts/ArnoPro-LightDisplay.otf');
	font-style: normal;
	font-weight: 100;
}

@page {
	size: 5.5in 8.5in;
	margin: 0.3in;
	border: 1pt solid black;
	padding: 3pt;
	background-image: url('https://raw.githubusercontent.com/macmillanpublishers/covermaker/master/images/torDOTcom/logo.png');
	background-size: auto 1.8in;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-color: #fff;

	@top-left-corner {
	  background-color: #e7d49e;
	  content: " ";
	}
	@top-left {
	  background-color: #e7d49e;
	  content: " ";
	}
	@left-top {
	  background-color: #e7d49e;
	  content: " ";
	}
	@top-right-corner {
	  background-color: #e7d49e;
	  content: " ";
	}
	@right-top {
	  background-color: #e7d49e;
	  content: " ";
	}
	@bottom-left-corner {
	  background-color: #e7d49e;
	  content: " ";
	}
	@bottom-left {
	  background-color: #e7d49e;
	  content: " ";
	}
	@bottom-right-corner {
	  background-color: #e7d49e;
	  content: " ";
	}
}

body {
	font-family: "ArnoPro";
}

div {
	padding: 0.33in 0.25in 0in 0.25in;
	font-family: serif;
	text-align: center;
	border: 1pt solid black;
	height: 7.43in;
}

h1.header {
	font-weight: bold;
	font-size: 0.33in;
	margin: 0 0 0.05in 0;
	padding: 0;
}

p.copyright {
	font-weight: normal;
	font-size: 0.16in;
	line-height: 170%;
	margin: 0;
	padding: 0;
}

h1.title {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 0.4in;
	margin: 0.4in 0;
	padding: 0;
}

h2.subtitle {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 0.2in;
	margin: 0.6in 0;
	padding: 0;
}

p.byline {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 0.27in;
	margin: 0 0 2in 0;
	padding: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}